.card {
  margin-right: 5px;
  background-color: #2d3e50;
  color: white;
}

.bigcard {
  background-color: white;
  color: black;
}

.card img {
  height: 50px;
  width: 50px;
}

.border-curve {
  border-radius: 6px !important;
}

.search-button {
  background-color: #5098e6;
  color: white;
  width: 100%;
  margin-top: 10px;
}
.search-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #5098e6;
  
}

.history-button {
  background-color: #aeaeae;
  color: black;
  width: 100%;
  margin-bottom: 10px;
}

.history-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #aeaeae;
}

header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(59, 59, 178) 100%
  );
}

.currentWeather {
  font-size: 32px;
  font-weight: bold;
}
input {
  width: 100%;
}
